.brand-card {
  width: 260px;
  min-width: 260px;
  height: 380px;
  padding: 16px;
  a {
    text-decoration: none;
    font-size-adjust: auto;
    text-align: justify;
    color: #414141;
    font-size: 14px;
  }
  img {
    width: 100%;
  }
}
