<div class="container color-light">
  <div class="col">
    <p class="sm">Cadastre-se</p>

    <form>
      <input type="text" class="txt" name="item" placeholder="Nome">
      <br>
      <input type="text" class="txt" name="item" placeholder="E-mail">
      <br>
      <input type="text" class="txt" name="item" placeholder="Usuário">
      <br>
      <input type="text" class="txt" name="item" placeholder="Senha">
      <br>
      <input type="submit" class="btn" value="Cadastrar">
      <br>
    </form>
  </div>
</div>
